<!-- Content here -->
<form [formGroup]="cardForm">
  <div class="row min-vh-100">
    <div class="col-xl-4 col-md-4 col-sm-2 align-items-center p-0">
      <img
        class="position-absolute col-xl-4 col-md-4 col-sm-2 img-fluid"
        src="../../assets/images/bg-main-desktop.png"
      />
      <div class="position-absolute image-card">
        <div class="d-flex align-items-end justify-content-center flex-column">
          <div class="front-card">
            <div class="container">
              <div class="position-absolute front-details w-100">
                <div
                  class="d-flex justify-content-center align-items-center mt-4 px-2"
                >
                  <div class="circle"></div>
                  <div class="small-circle"></div>
                </div>

                <div
                  class="d-flex flex-column justify-content-between w-75 px-4"
                >
                  <div class="row">
                    <div class="col-12">
                      <span class="h2 text-white">
                        {{ cardForm.value.CardNumber || "0000 0000 0000 0000" }}
                      </span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between my-4 w-100">
                    <span class="text-white">
                      {{ cardForm.value.Name || "Dinie Syahirah" | uppercase }}
                    </span>
                    <span class="text-white"
                      >{{ cardForm.value.MMDate || "00" }}/{{
                        cardForm.value.YYDate || "00"
                      }}</span
                    >
                  </div>
                </div>
              </div>
              <div class="image-container mx-auto">
                <div class="container"></div>
                <img
                  src="../../assets/images/bg-card-front.png"
                  class="img-fluid"
                  alt="Front Card"
                />
              </div>
            </div>
          </div>
          <div class="back-card">
            <div
              class="container d-flex justify-content-end align-items-center"
            >
              <span class="text-white position-absolute mx-5"
                >{{ cardForm.value.CVC || "000" }}
              </span>

              <div class="image-container mx-auto">
                <img
                  class="img-fluid"
                  alt="Back Card"
                  src="../../assets/images/bg-card-back.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 d-flex justify-content-center align-items-center">
      <div *ngIf="!submitted" class="w-50 position-relative">
        <div class="row">
          <label>CARDHOLDER NAME</label>
          <div class="input-group my-2">
            <input
              class="form-control"
              formControlName="Name"
              placeholder="e.g Dinie Syahirah"
            />
          </div>
        </div>
        <div class="row">
          <label>CARD NUMBER</label>
          <div class="input-group my-2">
            <input
              class="form-control"
              formControlName="CardNumber"
              placeholder="e.g. 1234 5678 9012 3456"
              type="text"
              [pattern]="'^\\d{1,16}$'"
              maxlength="19"
              (input)="splitCardNumber(cardForm.value.CardNumber)"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>EXP. DATE (MM/YY)</label>
            <div class="input-group my-2">
              <input
                class="form-control"
                formControlName="MMDate"
                placeholder="MM"
                type="text"
                (input)="numsOnly($event)"
                [pattern]="'^\\d{2}$'"
                maxlength="2"
              />
              <input
                class="form-control mx-4"
                formControlName="YYDate"
                placeholder="YY"
                type="text"
                (input)="numsOnly($event)"
                [pattern]="'^\\d{2}$'"
                maxlength="2"
              />
            </div>
          </div>
          <div class="col-6">
            <label>CVC</label>
            <div class="input-group my-2">
              <input
                class="form-control"
                formControlName="CVC"
                type="text"
                (input)="numsOnly($event)"
                [pattern]="'^\\d{2}$'"
                maxlength="3"
                placeholder="e.g. 123"
              />
            </div>
          </div>
        </div>
        <div class="row my-4">
          <button class="btn btn-dark" (click)="Submit()">Confirm</button>
        </div>
      </div>
      <div class="w-50 position-relative" *ngIf="submitted">
        <div class="row">
          <div
            class="col-12 d-flex flex-column justify-content-center align-items-center"
          >
            <img
              src="../../assets/images/icon-complete.svg"
              class="img-fluid rounded mx-auto d-block"
              alt="..."
            />
            <h1 class="my-4">THANK YOU!</h1>
            <span class="text-muted">We've added your card details</span>
          </div>
        </div>
        <div class="row my-4 px-4">
          <button class="btn btn-dark" (click)="Continue()">Continue</button>
        </div>
      </div>
    </div>
  </div>
</form>
