<!-- Content here -->
<div class="row min-vh-100">
  <div class="col-4 left-side align-items-center">
    <div class="position-absolute image-card">
      <div class="d-flex align-items-end justify-content-center flex-column">
        <div class="front-card">
          <div class="container">
            <div class="position-absolute front-details w-100">
              <div
                class="d-flex justify-content-center align-items-center mt-4 px-2"
              >
                <div class="circle"></div>
                <div class="small-circle"></div>
              </div>

              <div class="d-flex flex-column justify-content-between w-75 px-4">
                <div class="row">
                  <div class="col-3">
                    <span class="display-6 text-white">0000</span>
                  </div>
                  <div class="col-3">
                    <span class="display-6 text-white">0000</span>
                  </div>
                  <div class="col-3">
                    <span class="display-6 text-white">0000</span>
                  </div>
                  <div class="col-3">
                    <span class="display-6 text-white">0000</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between my-4 w-100">
                  <span class="text-white">DINIE SYAHIRA</span>
                  <span class="text-white">12/24</span>
                </div>
              </div>
            </div>
            <div class="image-container mx-auto">
              <div class="container"></div>
              <img
                src="../../assets/images/bg-card-front.png"
                class="img-fluid"
                alt="Descriptive Alt Text"
              />
            </div>
          </div>
        </div>
        <div class="back-card">
          <div class="container d-flex justify-content-end align-items-center">
            <span class="text-white position-absolute mx-5">000</span>

            <div class="image-container mx-auto">
              <img
                class="img-fluid"
                alt="Descriptive Alt Text"
                src="../../assets/images/bg-card-back.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8"></div>
</div>
