.left-side {
  background: linear-gradient(
    to bottom,
    hsl(250, 56%, 13%),
    hsl(278, 94%, 30%),
    hsl(249, 99%, 64%),
    hsl(250, 56%, 13%)
  );
}

.image-card {
  margin-left: 5%;
  margin-top: 5%;
}

.front-card {
  padding: 3rem;
}

.circle {
  width: 2rem;
  height: 2rem;
  background: #fff;
  border-radius: 50%;
  margin: 0 1rem;
}

.small-circle {
  width: 1rem;
  height: 1rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

.front-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  height: 40%;
}
/* 
.details-form {
  height: 15%;
} */
